@import url("http://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("http://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

main {
  background-color: #faf7ee;
}

ul li {
  list-style: none;
}

@media (max-width: 540px) {
  html,
  body {
    font-size: 12px;
  }
}

@import "modules/input";
@import "modules/button";

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(98, 91, 141, 0.28);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(98, 91, 141, 0.28);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}
