@font-face {
  font-family: "FoglihtenNo06";
  src: url("/fonts/foglihtenno06/FoglihtenNo06.woff2") format("woff2"),
    url("/fonts/foglihtenno06/FoglihtenNo06.woff") format("woff"),
    url("/fonts/foglihtenno06/FoglihtenNo06.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
